@{
    ViewBag.Title = "Contact";
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />


<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
<div class="container">
    <input type="button" value="Click" onclick="getTrainingName()" id="coolbutton">
</div>
<script src="~/TypeScriptFiles/TestExample.js"></script>
